body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ED4C5C;
}

a:active {
  color: #380208;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 42px;
}

.text, button:active, button:hover, .butt-color, .butt-transparent, .menu {
  text-transform: uppercase;
  color: #fff;
}

/*header*/
.bg {
  max-width: 100%;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("/images/Rectangle 3.jpg") center no-repeat;
  background-size: cover;
}

.menu a {
  color: #fff;
  margin: 20px;
}
.menu a:hover {
  color: #5f0912;
}
.menu a:active {
  color: #fafafa;
}

.butt-transparent {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: 11px 29px;
}

.butt-color {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #ED4C5C;
  padding: 17px 53px;
}

button:hover {
  background-color: #5f0912;
  border: 1px solid #5f0912;
  border-radius: 6px;
  color: #ED4C5C;
}

button:active {
  background-color: #380208;
  border: 1px solid #380208;
  border-radius: 6px;
  color: #fff;
}

.welcome {
  text-align: center;
  padding: 194px 0;
}

.text {
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
}

.text1 {
  color: #fff;
  padding: 39px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}

/*main*/
.text2 {
  text-align: center;
  padding: 63px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
}

.bg2 {
  background-color: #fafafa;
  padding-bottom: 229px;
}

.container2, .container {
  display: flex;
  justify-content: space-around;
}

.box {
  border-radius: 8px;
}

.box {
  position: absolute;
  z-index: 100;
  margin-top: -93px;
  margin-left: 29px;
  max-width: 293px;
  background-color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
.box .text3 {
  padding: 30px;
}
.box a {
  color: #ED4C5C;
}
.box a:hover {
  color: #5f0912;
}
.box a:active {
  color: #380208;
}

.text3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}

.text4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  padding-bottom: 25px;
}

.padding {
  padding: 0 25px 25px;
}

.container2 {
  display: flex;
  align-items: center;
}

.column2, .column {
  display: flex;
  flex-direction: column;
}

.column {
  max-width: 191px;
  text-align: center;
  align-items: center;
  padding-bottom: 100px;
}
.column .text3 {
  padding: 10px;
}

/*footer*/
footer {
  background-color: #fafafa;
}

.foot {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.column2 {
  display: flex;
  align-items: baseline;
}
.column2 a {
  padding-top: 11px;
}
.column2 .text3 {
  padding: 28px 0;
}

.facebook {
  content: url("/images/facebook.png");
  padding: 0 5px;
}

.instagram {
  content: url("/images/instagram.png");
  padding: 0 5px;
}

.twitter {
  content: url("/images/twitter.png");
  padding: 0 5px;
}

.card {
  display: flex;
  align-items: center;
}

.visaver {
  content: url("/images/verified-by-visa.png");
  max-width: 50px;
}

.visa {
  content: url("/images/Visa_Logo.png");
  max-width: 50px;
}

.mc {
  content: url("/images/Mastercard-logo.png");
  max-width: 50px;
}

.mcsec {
  content: url("/images/mastercard-secure.png");
  max-width: 50px;
}

.copyright {
  padding-left: 11%;
}

@media (max-width: 1056px) {
  .container, .container2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .container .cont {
    padding-bottom: 110px;
    display: flex;
    justify-content: center;
  }
  .box {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding-bottom: 0;
  }
  .bg2 {
    padding-bottom: 63px;
  }
  .foot {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    font-size: 24px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  .welcome {
    padding: 20px;
  }
  .text {
    font-size: 40px;
  }
  button {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
